{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}College Blog{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'CSS/design.CSS' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'blog:post_list' %}">COLLEGE BLOG</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'blog:post_list' %}">Home</a>
        </div>
    </nav>
</header>

    {% block content %}
    <div class="main-container">
      <main class="content">
        {% block main_content %}{% endblock %}
      </main>
      <aside class="sidebar">
        <div id="sidebar">
          <h3>My blog</h3>
          <p>I have several posts so far.</p>
          <p>I have posts with tags.</p>
        </div>
      </aside>
    </div>
    {% endblock %}

<footer>
    
</footer>
</body>
</html>
